.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 116px;
  min-height: 100vh;
}

.section__details {
  border-top: 1px dotted #e5e7eb;
}

.section__title {
  font-size: 20px;
  color: #fff;
  line-height: 36px;
  font-weight: 400;
  padding-top: 50px;
}

.section__description {
  font-size: 15px;
  color: #5b5b5b;
  line-height: 17px;
  font-weight: 400;
  padding-bottom: 50px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 50px 50px 15px 50px;
}

.filters {
  display: flex;
  margin: 0;
  padding: 0px;
}

.filter,
.active {
  padding: 4px 15px;
  border: 1px solid #666;
  margin-right: 10px;
  margin-bottom: 15px;
}

.calendar {
  grid-template-columns: 1fr 1fr;
  min-height: 0;
  display: grid;
  flex-grow: 1;
}

.dateBox {
  border: 1px solid #666;
  max-height: 52vh;
  height: 52vh;
  overflow: scroll;
}

.dateItem {
  padding: 20px 10px;
  border-bottom: 1px solid #666;
}

.contentBox {
  background-color: #141414;
  max-height: 52vh;
  height: 52vh;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  padding: 20px;
}

.dateList {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.white {
  padding: 0 50px 15px 50px;
}
