.container {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;

  min-height: calc(100vh - 50px);
}

.textContainer {
  position: relative;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Send the background image behind other content */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/grids.png") repeat;
  z-index: 150; /* Ensure the overlay is on top of the image */
}

.desc {
  font-size: 26px;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 300px auto;
}
